<h1>Welcome To Home Page </h1>

<p class="home-text"> New User? <%= link_to "Sign Up Here!", new_user_path %> </p>
<p  class="home-text"> Existing User? <%= link_to "Sign In Here!", new_sessions_path %> </p>